<h2>Edit <%= @recipe.title %></h2>
<%= link_to 'Delete', recipe_path(@recipe),
                                              method: :delete,
                                              data: { confirm: 'Are you sure?' } %>



<%= render 'form'  %>
