
<section class="module parallax parallax-4">
  <div class="container">
    <h1>View All Recipes</h1>
  </div>
</section>

        <div class="row">
          <div id="recipes" class="transitions-enabled">
            <div class="recipe-wrapper">
              <div class="col-md-4">
                <% @recipes.each do |recipe| %>
                <div class="masonry_box">
                  <h4><%= recipe.title %></h4>
                  <%= link_to image_tag("#{recipe.image}"), recipe_path(recipe) %>
                  <a class="btn btn-primary" href="#">View recipe</a>
                  <a class="btn btn-primary" href="#">&hearts;</a>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
