// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  margin-top: 200 px;
  margin: 0 auto;

}

#boxes{
  margin: 0 auto;
  text-align: center;

}
.row{
  margin: 0 auto;
  text-align: center;
}
.box-wrapper{
  margin-left: 10px;
}
.masonry_box {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  width: 300px;
  float:left;
  border: 5px solid black;

}

.masonry_box img {
  padding: 2px;
  width: 90%;
  margin: 5px;
}
.btn {
  margin: 3px;
}
