
<section class="module parallax parallax-1">
  <div class="container">
    <h1>Food.Me</h1>
  </div>
</section>
<section class="module content">
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h2>
              Weclome to Food.Me
            </h2>
            <p>
              Food.Me allows you to create and store your favorite recipes and share them with others. Food.Me is totally free and easy to use. Sign-up now!
            </p>
            <p>
              <a class="btn btn-primary btn-large" href="#">Sign Up</a>
            </p>
          </div>
        </section>
        <div class="row">
          <div id="boxes" class="transitions-enabled">
            <div class="box-wrapper">
            <div class="col-md-4">

              <% @boxes.each do |box| %>
              <div class="masonry_box">
                <h3><%= box.theme %></h3>
                <h4><%= box.title %></h4>


                <%= link_to image_tag("#{box.image}"), box_path(box) %>
                <div class="btn btn-primary"><%= link_to "View Box", box_path(box) %></div>
                <div class="btn btn-primary" href="#">	&hearts;</div>
                <% box.collections.each do |collection| %>
                <% end %>
              </div>
              <% end %>

            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
